Make a planet!

<%= form_for :planet, url: planets_path do |f| %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>
 
  <p>
    <%= f.label :diameter %><br>
    <%= f.text_field :diameter %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
<% end %>